
WORK_ROOT = $SCRATCH
DATA_ROOT = /work/$PROJECT_SUBDIR/$USER

[jobs]

  batch_command = llsubmit %x
  interactive_command = llsubmit -s %x
  cdo = /sw/aix61/cdo-1.6.0/bin/cdo
  after = /sw/aix61/after-4.6.3/bin/after

  [[run]]

    time_limit = 02:00:00
    nodes = 4
    # TODO: OpenMP disabled temporarily (Issue #4104)
    # tasks_per_node = 32
    # threads_per_task = 2
    tasks_per_node = 64
    threads_per_task = 1
    hardware_threads = true

  [[job1]]

    time_limit = 02:00:00
    threads_per_task = 16
    hardware_threads = true

[MPI]

  command = poe %x -procs %n
  
